body {
  background-color: #E7E7E7;
}
.main-container {
  background-color: #fff;
  margin: 0.9375rem;
  padding: 0.9375rem;
}
.main-container .tab-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBEEF7;
}
.main-container .tab-list .tab-item {
  float: left;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  cursor: pointer;
}
.main-container .tab-list .tab-active {
  color: #fff;
  background-color: #02A0E9;
}
.main-container .tab-container .tab-content {
  display: none;
}
.main-container .tab-container .tab-content .operation-list {
  margin: 0;
  padding: 0;
  height: 3rem;
  position: relative;
}
.main-container .tab-container .tab-content .operation-list .operation-item {
  float: left;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  cursor: pointer;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu {  
  position: absolute;
  width: 101.125rem;
  height: 16.375rem;
  background-color: #f0f0f0;
  cursor: default;
  left: 0;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .menu-title {
  width: 91.875rem;
  font-size: 0.9375rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  color: #333;
  text-align: left;
  margin-left: 1.875rem;
  margin-top: 0.9375rem;
  border-bottom: dashed 0.0625rem #CCCCCC;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-title {
  float: left;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  color: #333;
  text-align: left;
  margin-left: 1.875rem;
  margin-top: 0.9375rem;
  margin-right: 2.0625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container {
  float: left;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container .content-list {
  margin-top: 0.9375rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container .content-list .content-item {
  text-align: left;
  margin-bottom: 0.75rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container .content-list .content-item label {
  font-size: 0.875rem;
  margin-right: 0.5rem;
  letter-spacing: 0.0625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container .content-list .content-item .input {
  width: 12.5rem;
  height: 2rem;
  margin-right: 2.5rem;
  border: solid 0.0625rem #cccccc;
  border-radius: 0.1875rem;
  padding-left: 0.9375rem;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container .content-list .content-item #organization-address {
  width: 33.375rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item .menu .content-container .content-list .content-item .btn {
  width: 7.4375rem;
  height: 1.875rem;
  background-color: #F4494E;
  outline: none;
  border: none;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  color: #fff;
  cursor: pointer;
}
.main-container .tab-container .tab-content .operation-list .operation-item .inactive {
  display: none;
}
.main-container .tab-container .content-active {
  display: block;
}
.main-container .tab-container .page-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBEEF7;
  margin-top: 0.9375rem;
}
.main-container .tab-container .page-list .page-item {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
}
.main-container .tab-container .page-list .page-info {
  float: left;
  margin-left: 0.9375rem;
}
.main-container .tab-container .page-list .page-info span {
  margin-left: 0.3333333333333333rem;
  margin-right: 0.3333333333333333rem;
}
.main-container .tab-container .page-list .page-operation {
  float: right;
  margin-right: 0.625rem;
}
.main-container .tab-container .page-list .page-operation a {
  cursor: pointer;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
.main-container .tab-container .page-list .page-operation a:hover {
  color: #ff6700;
}
.main-container .tab-container .page-list .page-operation .page-active {
  color: red;
  font-weight: 600;
}
.main-container .tab-container .page-list .page-operation .page-disable {
  color: #B9B9B9;
  cursor: default;
}
.main-container .tab-container .page-list .page-operation .page-disable:hover {
  color: #B9B9B9;
}
/*# sourceMappingURL=organization.css.map */
