body {
  background-color: #E7E7E7;
}
.main-container {
  background-color: #fff;
  margin: 0.9375rem;
  padding: 0.9375rem;
}
.main-container .tab-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBEEF7;
}
.main-container .tab-list .tab-item {
  float: left;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  cursor: pointer;
}
.main-container .tab-list .tab-active {
  color: #fff;
  background-color: #02A0E9;
}
.main-container .tab-container {
  overflow: hidden;
}
.main-container .tab-container .tab-content {
  display: none;
}
.main-container .tab-container .tab-content .operation-list {
  margin: 0;
  padding: 0;
  height: 3rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item {
  float: left;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  cursor: pointer;
}
.main-container .tab-container .tab-content .operation-list .operation-item .operation-ex-item {
  position: absolute;
  background-color: #f0f0f0;
  left: 1.875rem;
  top: 6.25rem;
  width: 100.1875rem;
  border-radius: 0.625rem;
  cursor: auto;
  display: none;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem {
  height: 15.625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .title {
  font-size: 0.9375rem;
  font-weight: 600;
  position: absolute;
  left: 1.125rem;
  top: 0.625rem;
  width: 96.875rem;
  text-align: left;
  margin: 0;
  padding-left: 0.9375rem;
  border-bottom: dashed #CCCCCC;
  border-bottom-width: 0.125rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .left-title {
  font-size: 0.9375rem;
  font-weight: 600;
  position: absolute;
  left: 1.125rem;
  top: 3.75rem;
  text-align: left;
  margin: 0;
  padding-left: 0.9375rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .item-list {
  position: absolute;
  top: 3.75rem;
  left: 9.375rem;
  text-align: left;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .item-list .content {
  float: left;
  width: 21.25rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .item-list .content input {
  font-size: 0.9375rem;
  height: 2.125rem;
  width: 15.625rem;
  border-radius: 0.3125rem;
  box-shadow: none;
  border: solid #CCCCCC;
  border-width: 0.0625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .item-list .content button {
  height: 2.125rem;
  width: 7.5rem;
  background-color: #F4494E;
  color: white;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
  box-shadow: none;
  border: none;
}
.main-container .tab-container .tab-content .operation-list .operation-item #searchItem .item-list .content .dropdown {
  width: 15.625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem {
  height: 28.125rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .title {
  font-size: 0.9375rem;
  font-weight: 600;
  position: absolute;
  left: 1.125rem;
  top: 0.625rem;
  width: 96.875rem;
  text-align: left;
  margin: 0;
  padding-left: 0.9375rem;
  border-bottom: dashed #CCCCCC;
  border-bottom-width: 0.125rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .left-title {
  font-size: 0.9375rem;
  font-weight: 600;
  position: absolute;
  left: 1.125rem;
  top: 3.75rem;
  text-align: left;
  margin: 0;
  padding-left: 0.9375rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .item-list {
  position: absolute;
  top: 3.75rem;
  left: 9.375rem;
  text-align: left;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .item-list .content {
  float: left;
  width: 21.25rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .item-list .content input {
  font-size: 0.9375rem;
  height: 2.125rem;
  width: 15.625rem;
  border-radius: 0.3125rem;
  box-shadow: none;
  border: solid #CCCCCC;
  border-width: 0.0625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .item-list .content button {
  height: 2.125rem;
  width: 7.5rem;
  background-color: #F4494E;
  color: white;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
  box-shadow: none;
  border: none;
}
.main-container .tab-container .tab-content .operation-list .operation-item #modifyItem .item-list .content .dropdown {
  width: 15.625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem {
  height: 28.125rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .title {
  font-size: 0.9375rem;
  font-weight: 600;
  position: absolute;
  left: 1.125rem;
  top: 0.625rem;
  width: 96.875rem;
  text-align: left;
  margin: 0;
  padding-left: 0.9375rem;
  border-bottom: dashed #CCCCCC;
  border-bottom-width: 0.125rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .left-title {
  font-size: 0.9375rem;
  font-weight: 600;
  position: absolute;
  left: 1.125rem;
  top: 3.75rem;
  text-align: left;
  margin: 0;
  padding-left: 0.9375rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .item-list {
  position: absolute;
  top: 3.75rem;
  left: 9.375rem;
  text-align: left;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .item-list .content {
  float: left;
  width: 21.25rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .item-list .content input {
  font-size: 0.9375rem;
  height: 2.125rem;
  width: 15.625rem;
  border-radius: 0.3125rem;
  box-shadow: none;
  border: solid #CCCCCC;
  border-width: 0.0625rem;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .item-list .content button {
  height: 2.125rem;
  width: 7.5rem;
  background-color: #F4494E;
  color: white;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
  box-shadow: none;
  border: none;
}
.main-container .tab-container .tab-content .operation-list .operation-item #addItem .item-list .content .dropdown {
  width: 15.625rem;
}
.main-container .tab-container .content-active {
  display: block;
}
.main-container .tab-container .page-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBEEF7;
  margin-top: 0.9375rem;
}
.main-container .tab-container .page-list .page-item {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
}
.main-container .tab-container .page-list .page-info {
  float: left;
  margin-left: 0.9375rem;
}
.main-container .tab-container .page-list .page-info span {
  margin-left: 0.3333333333333333rem;
  margin-right: 0.3333333333333333rem;
}
.main-container .tab-container .page-list .page-operation {
  float: right;
  margin-right: 0.625rem;
}
.main-container .tab-container .page-list .page-operation a {
  cursor: pointer;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
.main-container .tab-container .page-list .page-operation a:hover {
  color: #ff6700;
}
.main-container .tab-container .page-list .page-operation .page-active {
  color: red;
  font-weight: 600;
}
.main-container .tab-container .page-list .page-operation .page-disable {
  color: #B9B9B9;
  cursor: default;
}
.main-container .tab-container .page-list .page-operation .page-disable:hover {
  color: #B9B9B9;
}
.main-container .error {
  color: red !important;
}
.main-container .hidden {
  display: none;
}
/*# sourceMappingURL=enroll.css.map */
