.classList {
  padding: 0.9375rem;
  background-color: #fff;
}
.classList .tab-label {
  height: 2.25rem;
  line-height: 2.25rem;
}
.classList .tab-label .tab-list {
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #EBEEF7;
}
.classList .tab-label .tab-list .tab-item {
  float: left;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.classList .tab-label .tab-list .tab-active {
  background-color: #02A0E9;
  color: #fff;
}
.classList .class-container .hide-display {
  display: none;
}
.classList .class-container .show-display {
  display: block;
}
.classList .class-container .class-content .operation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 3rem;
}
.classList .class-container .class-content .operation-list .select-class {
  margin: 0;
  padding: 0;
  height: 7.5rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item {
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.0625rem;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu {
  display: none;
  cursor: default;
  left: 0;
  top: 2.375rem;
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  border: solid #e0e0e0 0.0625rem;
  box-shadow: 0 0.1875rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  position: absolute;
  z-index: 50;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu .value {
  float: left;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu .arrowhead {
  float: right;
  font-size: 0.6875rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu .menu-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.625rem;
  font-size: 0.9375rem;
  letter-spacing: 0.0625rem;
  border-bottom: #ccc dashed 0.0625rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: 6.25rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dt {
  float: left;
  letter-spacing: 0.0625rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-right: 1.25rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd {
  float: left;
  margin-left: 0;
  height: 3.75rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .condition-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 43.75rem;
  min-width: 43.75rem;
  height: 3.75rem;
  clear: both;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .condition-list .condition-list-item {
  float: left;
  width: 21.875rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .condition-list .condition-list-item .label {
  float: left;
  width: 5.625rem;
  letter-spacing: 0.0625rem;
  height: 2rem;
  line-height: 2rem;
  text-align: right;
  padding-right: 0.3125rem;
  margin-bottom: 1.5625rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .condition-list .condition-list-item .condition {
  float: left;
  margin-right: 2.5rem;
  margin-bottom: auto;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .condition-list .condition-list-item .condition .keyword {
  width: 12.5rem;
  height: 2rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 0;
  border: solid #ccc 0.0625rem;
  outline: none;
  letter-spacing: 0.0625rem;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .menu-btn {
  display: block;
  width: 7.5rem;
  height: 2rem;
  margin-bottom: 1.5625rem;
  background-color: #F4494E;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 0.1875rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.classList .class-container .class-content .operation-list .select-class .operation-item .menu dl dd .menu-btn:active {
  background-color: #CD0C12;
}
.classList .class-container .class-content .data-content .page-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBEEF7;
  margin-top: 0.9375rem;
}
.classList .class-container .class-content .data-content .page-list .page-item {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
}
.classList .class-container .class-content .data-content .page-list .page-info {
  float: left;
  margin-left: 0.9375rem;
}
.classList .class-container .class-content .data-content .page-list .page-info span {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}
.classList .class-container .class-content .data-content .page-list .page-operation {
  float: right;
  margin-right: 0.625rem;
}
.classList .class-container .class-content .data-content .page-list .page-operation a {
  cursor: pointer;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
.classList .class-container .class-content .data-content .page-list .page-operation a:hover {
  color: #ff6700;
}
.classList .class-container .class-content .data-content .page-list .page-operation .page-active {
  color: red;
  font-weight: 600;
}
.classList .class-container .class-content .data-content .page-list .page-operation .page-disable {
  color: #B9B9B9;
  cursor: default;
}
.classList .class-container .class-content .data-content .page-list .page-operation .page-disable:hover {
  color: #B9B9B9;
}
/*# sourceMappingURL=class_list.css.map */
